body {
  /* spacings */
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 5rem;
  --space-5: 10rem;

  /* colors */
  --dark-text: #1a1125;
  --light-text: #67606e;
}

.accent-text-gray {
  color: var(--light-text) !important;
}
.accent-text-black {
  color: var(--dark-text);
}
.accent-text-black-bold {
  color: var(--dark-text);
  font-weight: bold;
}

